<a href="https://colab.research.google.com/github/Nada-Tahani/AI/blob/main/assignment5aii4g9_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_excel('/content/drive/MyDrive/aig95')

In [4]:
data.head()

         Date      Time   Load (kW)
0  01.09.2018  00:00:00  5551.82208
1         NaN  01:00:00  4983.17184
2         NaN  02:00:00  4888.39680
3         NaN  03:00:00  5072.95872
4         NaN  04:00:00  5196.25980

In [5]:
LT_3=[]
LT_2=[]
LT_1=[]
LT=[]
data = data['Load (kW)']
for i in range(3, data.shape[0]):
    LT.append(data.iloc[i])
    LT_1.append(data.iloc[i-1])
    LT_2.append(data.iloc[i-2])
    LT_3.append(data.iloc[i-3])

In [6]:
data=pd.DataFrame({'L(T-3)':LT_3,'L(T-2)':LT_2,'L(T-1)':LT_1,'L(T)':LT})

In [7]:
data

          L(T-3)      L(T-2)      L(T-1)        L(T)
0     5551.82208  4983.17184  4888.39680  5072.95872
1     4983.17184  4888.39680  5072.95872  5196.25980
2     4888.39680  5072.95872  5196.25980  5641.29720
3     5072.95872  5196.25980  5641.29720  7153.17732
4     5196.25980  5641.29720  7153.17732  7849.80504
...          ...         ...         ...         ...
2176  5315.50800  5294.62008  5045.52384  4626.51840
2177  5294.62008  5045.52384  4626.51840  4567.90752
2178  5045.52384  4626.51840  4567.90752  4723.63164
2179  4626.51840  4567.90752  4723.63164  5150.27520
2180  4567.90752  4723.63164  5150.27520  6938.37468

[2181 rows x 4 columns]

In [8]:
LT3_max=np.max(data['L(T-3)'])
LT3_min=np.min(data['L(T-3)'])
LT2_max=np.max(data['L(T-2)'])
LT2_min=np.min(data['L(T-2)'])
LT1_max=np.max(data['L(T-1)'])
LT1_min=np.min(data['L(T-1)'])
LT_max=np.max(data['L(T)'])
LT_min=np.min(data['L(T)'])

In [9]:
data['L(T-3)']=(data['L(T-3)']-LT3_min)/(LT3_max-LT3_min)
data['L(T-2)']=(data['L(T-2)']-LT2_min)/(LT2_max-LT2_min)
data['L(T-1)']=(data['L(T-1)']-LT1_min)/(LT1_max-LT1_min)
data['L(T)']=(data['L(T)']-LT_min)/(LT_max-LT_min)

In [10]:
data.head()

     L(T-3)    L(T-2)    L(T-1)      L(T)
0  0.397877  0.293800  0.276454  0.310234
1  0.293800  0.276454  0.310234  0.332801
2  0.276454  0.310234  0.332801  0.414254
3  0.310234  0.332801  0.414254  0.690965
4  0.332801  0.414254  0.690965  0.818465

In [11]:
from sklearn.model_selection import train_test_split
x=data[['L(T-3)', 'L(T-2)', 'L(T-1)']]
y=data['L(T)']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=101)

In [13]:
m1=np.random.uniform(-5,5)
m2=np.random.uniform(-5,5)
m3=np.random.uniform(-5,5)
c=np.random.uniform(-5,5)
eta=0.01
epochs=500
iters=0
while iters<epochs:
    for i in range(x_train.shape[0]):
        delm1=-1*x_train.iat[i,0]*(y_train.iat[i]-m1*x_train.iat[i,0]-m2*x_train.iat[i,1]-m3*x_train.iat[i,2]-c)
        delm2=-1*x_train.iat[i,1]*(y_train.iat[i]-m1*x_train.iat[i,0]-m2*x_train.iat[i,1]-m3*x_train.iat[i,2]-c)
        delm3=-1*x_train.iat[i,2]*(y_train.iat[i]-m1*x_train.iat[i,0]-m2*x_train.iat[i,1]-m3*x_train.iat[i,2]-c)
        delc=-1*(y_train.iat[i]-m1*x_train.iat[i,0]-m2*x_train.iat[i,1]-m3*x_train.iat[i,2]-c)
        m1=m1-eta*delm1
        m2=m2-eta*delm2
        m3=m3-eta*delm3
        c=c-eta*delc
    iters=iters+1
print(m1,m2,m3,c)

-0.22572338347239887 0.017796897498238918 0.8789895836189373 0.15379276582901064

In [14]:
y_pred_train=[]
for i in range(x_train.shape[0]):
    x1=x_train.iat[i,0]
    x2=x_train.iat[i,1]
    x3=x_train.iat[i,2]
    y=y_train.iat[i]
    y_p_tr = (m1 * x1) + (m2 * x2) + (m3 * x3) + c
    y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

In [15]:
y_pred_test=[]
for i in range(x_test.shape[0]):
    x1=x_test.iat[i,0]
    x2=x_test.iat[i,1]
    x3=x_test.iat[i,2]
    y=y_test.iat[i]
    y_p_te = (m1 * x1) + (m2 * x2) + (m3 * x3) + c
    y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

In [16]:
x_train['L(T-3)'] =x_train['L(T-3)']*(LT3_max-LT3_min)+LT3_min
x_train['L(T-2)']= x_train['L(T-2)']*(LT2_max-LT2_min)+LT2_min
x_train['L(T-1)']= x_train['L(T-1)']*(LT1_max-LT1_min)+LT1_min
y_train =y_train*(LT_max-LT_min)+LT_min
y_pred_train =y_pred_train*(LT_max-LT_min)+LT_min

x_test['L(T-3)']=x_test['L(T-3)']*(LT3_max-LT3_min)+LT3_min
x_test['L(T-2)']=x_test['L(T-2)']*(LT2_max-LT2_min)+LT2_min
x_test['L(T-1)']=x_test['L(T-1)']*(LT1_max-LT1_min)+LT1_min
y_test=y_test*(LT_max-LT_min)+LT_min
y_pred_test=y_pred_test*(LT_max-LT_min)+LT_min

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [19]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import math

In [21]:
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 643.5763405497651
Mean square error 414190.5061154271
Mean absolute error 443.52451009677344

In [22]:
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 609.1523142103994
Mean square error 371066.54190788505
Mean absolute error 434.9494363035504

In [23]:
LT3=input('enter L(T-3) value')
LT2=input('enter L(T-2) value')
LT1=input('enter :(T-1) value')
print('L(T-3)=',LT3)
print('L(T-2)=',LT2)
print('L(T-1)=',LT1)
Y=m1*float(LT3)+m2*float(LT2)+m3*float(LT1)+c
print('Y=',Y)

enter L(T-3) value11.8
enter L(T-2) value12.67
enter :(T-1) value233
L(T-3)= 11.8
L(T-2)= 12.67
L(T-1)= 233
Y= 202.52031651536979