<a href="https://colab.research.google.com/github/Nada-Tahani/AI/blob/main/Assignment5_4G9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np

In [4]:
path = '/content/drive/MyDrive/aidataset2'
data = pd.read_csv(path)
data.head()

         Date   Time    Load(kw)
0  01.09.2018  00:00  5551.82208
1         NaN  01:00  4983.17184
2         NaN  02:00  4888.39680
3         NaN  03:00  5072.95872
4         NaN  04:00  5196.25980

In [5]:
x1 = []
x2 = []
x3 = []
y = []
data = data['Load(kw)']
for i in range(3, data.shape[0]):
    x1.append(data.iloc[i - 3])
    x2.append(data.iloc[i - 2])
    x3.append(data.iloc[i - 1])
    y.append(data.iloc[i])

In [6]:
data = pd.DataFrame({'l3': x1, 'l2': x2, 'l1':x3, 'L':y})
data.head()

           l3          l2          l1           L
0  5551.82208  4983.17184  4888.39680  5072.95872
1  4983.17184  4888.39680  5072.95872  5196.25980
2  4888.39680  5072.95872  5196.25980  5641.29720
3  5072.95872  5196.25980  5641.29720  7153.17732
4  5196.25980  5641.29720  7153.17732  7849.80504

In [7]:
x = data[['l3','l2','l1']]
y = data['L'].values.reshape(-1,1)

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=100)

In [9]:
from sklearn.linear_model import LinearRegression
multiple_reg = LinearRegression()
multiple_reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
y_pred = multiple_reg.predict(x_test)

In [11]:
print("Enter the values")
l3 = float(input())
l2 = float(input())
l1 = float(input())
output = multiple_reg.predict([[l3, l2, l1]])
print("The load is ", output)

Enter the values
8.00
10.00
11.00
The load is  [[1842.8975685]]